*{
  margin: 0%;
}
.Header{
  position: absolute;
  width: 550px;
  height: 65px;
  left: 0px;
  top: 0px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);

}
.Title{
  
position: absolute;
width: 140.79px;
height: 24px;
left: 58px;
top: 21px;

font-family: 'Karla';
font-style: normal;
font-weight: 700;
font-size: 20.7482px;
line-height: 24px;
letter-spacing: -0.1em;

color: #FFFFFF;
}